* {
    margin: 0;
    font-family: "dank", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "dank";
    src: url("TTLakes-MediumItalic.eot");
}

.container {
    max-width: 1440px;
    margin: 0;
    background: #F8F8F8;
    display: flex;
}

.header {
    background: #FFFFFF;
    display: none;
}
.header__inner {
    display: flex;
    padding: 24px 24px 24px 24px;
    justify-content: space-between;
}

.header__btn {
    margin-right: 16px;
}

.header__nav > img {
    margin: 0 20px 0 4px;
    height: 32px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu > img {
    margin: 0 20px 0 4px;
    height: 32px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.intro {
    padding: 42px 28px 11px 34px;
}

.intro__sticky {
    position: absolute;
    margin-top: 42px;
}

.intro__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.intro__title {
    font-size: 28px;
    line-height: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.intro__text-btn .btn {
    margin-left: 8px;
}

.intro .intro__btn {
    display: flex;
    justify-content: flex-end;
}

.intro__btn label span {
    display: flex;
    align-items: center;
}

.intro__text-btn:first-child {
    margin-left: 32px;
}

.intro__nav {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.intro__link {
    list-style-type: none;
    font-size: 16px;
    color: #7E7E82;
    padding: 8px 21px 7px 22px;
    margin-bottom: 14px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    background: #F8F8F8;
}

.intro__link:focus {
    border: 2px solid #B8FFEC;
    padding: 8px 21px 7px 22px;
}

.intro__main {
    display: flex;
    width:100%;
}

.intro__sub-title {
    font-size: 16px;
    color: #7E7E82;
    margin-left: 24px;
    margin-bottom: 19px;
}

ul {
    padding: 0;
}

.intro__text {
    flex-grow: 1;
    flex-basis: 40px;
    padding-right: 36px;

}

.intro__text p {
    font-size: 14px;
    line-height: 20px;
}

.intro__img {
    border-radius: 8px;
    flex-grow: 1;
    flex-basis: 20px;
}

.intro__read-more {
    margin-top: 13px;
    display: flex;
    cursor: pointer;
}

.intro__read-more span {
    font-size: 16px;
    color: #1B1C21;
    user-select: none;
    line-height: 24px;
}
@media screen and (min-width: 325px) and (max-width: 1120px) {
    .header {
        display: block;
    }

    .intro__header {
        width: 100%;
    }

    .intro__text p:nth-child(4) {
        display: none;
    }

}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        display: block;
    }
    .intro__main {
        width: 100%;
        flex-direction:column;
    }

    .intro__text p:nth-child(4) {
        display: none;
    }
    .intro__text p:nth-child(3){
        display: none;
    }
    .header__nav .btn:nth-child(-n+3){
        display: none;
    }
    .intro__btn > label{
        display: none;
    }
    .intro{
        padding: 0;
    }
    .intro__text{
        padding: 0 16px 0 16px;
    }
    .intro__nav{
        padding-left: 16px;
    }
    .intro__title{
        padding-left: 12px;
    }
    .header__menu > img{
       display: none;
    }
}
